<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Табло</title>
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/board.css">
  </head>
  <body>
  <div id="app"></div>

  <script id="board-template" type="text/x-handlebars-template">
    <div class="header">
      <div class="team one{{#if teams.one.visible}} visible{{/if}}" id="team-one">{{teams.one.title}}</div>
      <div class="total-score">
        <div class="score-block" id="round-score">{{ score.round }}</div>
      </div>
      <div class="team two{{#if teams.one.visible}} visible{{/if}}" id="team-two">{{teams.two.title}}</div>
    </div>
    <div class="content">
      <div class="score-column left">
        <div class="score-block" id="score-one">{{ score.one }}</div>
      </div>
      <div id="game-field">
        {{>gameField}}
      </div>
      <div class="score-column right">
        <div class="score-block" id="score-two">{{ score.two }}</div>
      </div>
    </div>
    <div class="footer">
      <!--<img src="../assets/images/logo.png" class="logo">-->
    </div>
  </script>

  <script id="round-template" type="text/x-handlebars-template">
    <div class="mistake-column left">
      <div class="round-block">
        <div class="number">{{ currentRound }}</div>
      </div>
      <div class="mistake-block">
        <div class="mistake" id="mistake-one-0">
          <img src="../assets/images/mistake.png" class="mistake-off">
          <img src="../assets/images/mistake-on.png" class="mistake-on">
        </div>
        <div class="mistake" id="mistake-one-1">
          <img src="../assets/images/mistake.png" class="mistake-off">
          <img src="../assets/images/mistake-on.png" class="mistake-on">
        </div>
        <div class="mistake" id="mistake-one-2">
          <img src="../assets/images/mistake.png" class="mistake-off">
          <img src="../assets/images/mistake-on.png" class="mistake-on">
        </div>
      </div>
    </div>
    <div class="answers-column">
      {{#each roundAnswers}}
        {{#if visible}}
            <div class="flip-container hover" id="answer-{{@index}}">
        {{else}}
            <div class="flip-container" id="answer-{{@index}}">
        {{/if}}
        <div class="flipper">
          <div class="front">
            <img src="../assets/images/answer-{{@index}}.png">
          </div>
          <div class="back">
            <div class="answer">
              <span class="title">
                {{ title }}
              </span>
              <span class="percent">{{ cost }}</span>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="mistake-column right">
      <div class="round-block">
        <div class="number">{{ currentRound }}</div>
      </div>
      <div class="mistake-block">
        <div class="mistake" id="mistake-two-0">
          <img src="../assets/images/mistake.png" class="mistake-off">
          <img src="../assets/images/mistake-on.png" class="mistake-on">
        </div>
        <div class="mistake" id="mistake-two-1">
          <img src="../assets/images/mistake.png" class="mistake-off">
          <img src="../assets/images/mistake-on.png" class="mistake-on">
        </div>
        <div class="mistake" id="mistake-two-2">
          <img src="../assets/images/mistake.png" class="mistake-off">
          <img src="../assets/images/mistake-on.png" class="mistake-on">
        </div>
      </div>
    </div>
  </script>

  <script id="final-template" type="text/x-handlebars-template">
    <div class="left-column">
      {{#for 0 5 1}}
      <div class="flip-container final" id="answer-{{this}}">
        <div class="flipper">
          <div class="front final">
            <img src="../assets/images/final.png">
          </div>
          <div class="back final">
            <div class="final-answer" id="answer-title-{{this}}"></div>
          </div>
        </div>
      </div>
      {{/for}}
      <div class="summa">
        Сумма: <span id="summa-one"></span>
      </div>
    </div>
    <div class="right-column">
      {{#for 5 10 1}}
      <div class="flip-container final" id="answer-{{this}}">
        <div class="flipper">
          <div class="front final">
            <img src="../assets/images/final.png">
          </div>
          <div class="back final">
            <div class="final-answer" id="answer-title-{{this}}"></div>
          </div>
        </div>
      </div>
      {{/for}}
      <div class="summa">
        Сумма: <span id="summa-two"></span>
      </div>
    </div>
  </script>

  <audio id="audio-open-answer" src="../assets/sounds/open_answer.mp3"></audio>
  <audio id="audio-wrong-answer" src="../assets/sounds/wrong_answer.mp3"></audio>

  <script>
    require('../assets/js/board.js')
  </script>
  </body>
</html>
